---
layout: default
---

<div class="container-small">

  <h1 class="text-center">master project</h1>

  <div class="content">
    {{ content }}
  </div>


  <!-- {% assign reflections = site.reflections | where: "published", true | sort: "date", "last" %} -->


  <div class="post-list">
    {% for masterproject in site.masterproject %}
    <article>
      <h2 class="post-title"><a href="{{ masterproject.url | relative_url }}">{{ masterproject.title }}</a></h2>
      <div class="post-period">{{ masterproject.period }}</div>
    </article>
    {% endfor %}
  </div>



</div>
